# Python files #
################
__pycache__/
# setup.py working directory
# sphinx build directory
doc/_build/
doc/reference/api
# setup.py dist directory
dist
# Egg metadata
*.egg-info
.eggs
.pypirc

